
<!--Titulo Explicativo-->
<div>
    <div class="card text-white bg-info mb-3" style=" position:absolute center">
        <div class="card-header text-center">Encuesta sobre su experiencia</div>
    </div>
</div>

<!--Formulario en si, que se crea con bucles-->
<form>
    <div ng-repeat="pregunta in preguntas track by $index">
        <!-- Pregunta -->
        <div class="card border-primary " style="margin-left:5%; margin-right:5%; margin-top: 5px" ">
            <div class="card-body text-primary" style="background-color:#cef8ff">
                <p class="card-text" style="font-size:smaller; margin: -15px; justify-content:flex-end; padding:10px">{{pregunta.titulo}}</p>
            </div>
        </div>
        <!-- Opciones -->
        <div style="margin-left:7%; margin-right:7%; background-color:#e8f8fc">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-question fa-xs" style="margin-right:10px; margin-left:10px"></i> </span>
                </div>
                <select id="select{{$index}}" class="form-control" required>
                    <option selected="" value="" hidden>Seleccione una opción</option>
                    <option ng-repeat="opcion in pregunta.opciones" value="{{opcion}}">{{opcion}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <!--Botón de enviar-->
        <button id="#boton-enviar" type="submit" disabled=true data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn-block"
                style="background-color: #43ca17; width:70%; text-align:center; margin-left:15%; margin-bottom:0; color:white">
            Enviar
        </button>
        <!--Texto explicativo de porque no es valido el formulario-->
        <div style="text-align: center;">
            <div style="display: inline-block;">
                <p id="textTermina" style="font-size:xx-small; margin-top:-10px">Debe terminar la encuesta para poder enviarla</p>
            </div>
        </div>
    </div>
</form>

<!-- Menu Pop-up de confirmación de envio -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">¿Seguro que desea enviar la encuesta?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="sendEncuesta()">Si</button>
            </div>
        </div>
    </div>
</div>
<canvas height="150"></canvas>





