
<div>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 90%">
            <!--Titulo de bienvenida-->
            <h4 class="card-title mt-3 text-center">Bienvenido</h4>
            <!--Cartel explicativo-->
            <div class="card border-primary " style="">
                <div class="card-body text-primary">
                    <p class="card-text" style="font-size:smaller; margin:-15px; justify-content:flex-end" >Aquí podrá recibir información, realizar encuestas y solicitar asistencia, en el caso de hospitalización y realizar encuestas sobre su experiencia en urgencias.</p>
                </div>
            </div>
            <canvas style="height:0px"></canvas>
            <!--Formulario en si-->
            <form #form="ngForm">
                <!--Elemento Perfil del formulario-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user" style="margin-right:10px"></i> </span>
                    </div>
                    <select id="Perfil" class="form-control" required>
                        <option value="" hidden>Perfil</option>
                        <option>Paciente</option>
                        <option>Familiar</option>
                    </select>
                </div>
                <!--Elemento Area del formulario-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-ambulance" style="margin-right:10px"></i> </span>
                    </div>
                    <select id="Area" ng-model="Area" class="form-control" required>
                        <option value="" hidden>Area</option>
                        <option value="Hospitalizado">Hospitalizado</option>
                        <option value="Urgencias">Urgencias</option>
                    </select>
                </div>
                <!--Cartel explicativo-->
                <div class="card border-primary " style="">
                    <div class="card-body text-primary">
                        <p class="card-text" style="font-size:smaller; margin:-15px; justify-content:flex-end">Utilizamos esta información para autentificar que usted es paciente de nuestro hospital y poder atender a sus necesidades.</p>
                    </div>
                </div>
                <canvas style="height:0px"></canvas>
                <!--Elemento Apellido del formulario-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-id-card" style="margin-right:10px"></i> </span>
                    </div>
                    <input id="Apellido" name="" class="form-control" placeholder="Apellido del paciente" type="text" required>
                </div>
                <!--Elemento Habitacion (if Hospitalizado) del formulario-->
                <div ng-if="Area =='Hospitalizado' " class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building" style="margin-right:10px"></i> </span>
                    </div>
                    <input id="Hab" name="" class="form-control" placeholder="Nº de habitación" type="text" required>
                </div>
                <!--Elemento Aux (if Urgencias) del formulario-->
                <div ng-if="Area =='Urgencias' " class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building" style="margin-right:10px"></i> </span>
                    </div>
                    <input id="Aux" name="" class="form-control" placeholder="Aux valor" type="text" required>
                </div>
                <!--Elemento Temporal  del formulario-->
                <div ng-if="Area != 'Urgencias' && Area != 'Hospitalizado' " class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building" style="margin-right:10px"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group">
                    <!--Botón de enviar-->
                    <button id="#boton-enviar" type="submit" ng-click="logInSend()" disabled=true class="btn btn-primary btn-block"
                            style="background-color: #43ca17; width:70%; text-align:center; margin-left:15%; color:white">
                        Iniciar Sesión
                    </button>
                    <!--Texto explicativo de porque no es valido el formulario-->
                    <div style="text-align: center;">
                        <div style="display: inline-block;">
                            <p id="textTermina" style="font-size:xx-small; margin-top:-10px">El formato de datos no es valido.</p>
                        </div>
                    </div>
                </div>
            </form>
        </article>
    </div>
</div>



