<div class="row">
    <h4 class="col" style=" margin:1%">Servicios</h4>
    <a class="btn btn-primary col-" href="index.html#!/seguimientoservicios" style="float:right; margin-right:2%" role="button">Seguimiento</a>

</div>

<!-- Titulo bienvenida -->
<div style="text-align: center;">
    <div style="display: inline-block; width: 70%;">
        <!-- Titulo bienvenida -->
        <!-- Texto explicativo -->
        <div class="card border-primary " style="margin-top:20px; background-color:dodgerblue">
            <div class="card-body text-primary">
                <p class="card-text" style="font-size:large; margin:-15px; justify-content:flex-end; background-color:dodgerblue;color:white">Seleccione el servicio</p>
            </div>
        </div>
        <!-- Selección de servicio -->
        <div class="form-group input-group">

            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-clipboard-list" style="margin-right:10px"></i> </span>
            </div>
            <select id="ServicioSeleccionado" class="form-control" required>
                <option value="" hidden></option>
                <option ng-model="pelu" ng-init="pelu=true">Peluqueria</option>
                <option>Biblioteca</option>
                <option>Quiosco</option>
                <option>Asistencia Religiosa</option>
                <option>Voluntariado</option>
                <option>Dieta</option>
            </select>
        </div>
    </div>
</div>
<div style="text-align: center;">
    <div style="display: inline-block; width: 90%;">
        <form>
            <div id="bloquePeluqueria" style="display:none;">
                <canvas height="15%"></canvas>
                <div style="width:90%;margin: 0 auto">
                    <textarea id="textPeluqueria" rows="4" cols="35" placeholder="Especifique aqui los detalles"></textarea>
                </div>
            </div>
            <div id="bloqueBiblioteca" style="display:none;">
                <canvas height="15%"></canvas>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-book" style="margin-right:10px"></i> </span>
                    </div>
                    <select id="Genero" class="form-control" required>
                        <option value="" hidden>Género Literario</option>
                        <option>Infantil</option>
                        <option>Cómics y manga</option>
                        <option>Intriga</option>
                        <option>Historia</option>
                        <option>Ya se verá</option>
                    </select>
                </div>
                <div style="width:90%;margin: 0 auto">
                    <textarea id="textBiblioteca" rows="4" cols="35" placeholder="Especifique aqui los detalles"></textarea>
                </div>
            </div>
            <div id="bloqueQuiosco" style="display:none;">
                <canvas height="15%"></canvas>
                <div style="width:90%;margin: 0 auto">
                    <textarea id="textQuiosco" rows="4" cols="35" placeholder="Especifique aqui los detalles"></textarea>
                </div>
            </div>
            <div id="bloqueAsistencia" style="display:none;">
                <canvas height="15%"></canvas>
                <div style="width:90%;margin: 0 auto">
                    <textarea id="textAsistencia" rows="4" cols="35" placeholder="Especifique aqui los detalles"></textarea>
                </div>
            </div>
            <div id="bloqueVoluntariado" style="display:none;">
                <canvas height="15%"></canvas>
                <div style="width:90%;margin: 0 auto">
                    <textarea id="textVoluntariado" rows="4" cols="35" placeholder="Especifique aqui los detalles"></textarea>
                </div>
            </div>
            <div id="bloqueDieta" style="display:none;">
                <canvas height="15%"></canvas>
                <div>
                    <!--Opción de dieta-->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-utensils fa-xs" style="margin-right:10px;margin-left:10px"></i> </span>
                        </div>
                        <select id="DietaElegida" class="form-control">
                            <option ng-selected="1" value="" hidden>Seleccione una opción</option>
                            <option ng-repeat="dieta in elementos" value="{{dieta.index}}">{{dieta.nombreDieta}}</option>
                        </select>
                    </div>
                    <div ng-repeat="dieta in elementos track by $index">
                        <div id="opcionesDieta{{$index}}" class="form-group input-group" style="display:none;">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-utensil-spoon fa-xs" style="margin-right:10px;margin-left:10px"></i> </span>
                            </div>
                            <select id="OpcionElegida{{$index}}" class="form-control">
                                <option ng-selected="1" value="" hidden>Seleccione una opción</option>
                                <option ng-repeat="opcion in dieta.opciones" value="{{opcion.index}}">{{opcion.nombreOpcion}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div style="width:90%;margin: 0 auto">
                    <textarea id="textDieta" rows="4" cols="35" placeholder="Especifique aqui los detalles"></textarea>
                </div>
            </div>
            <div id="bloqueEnviar" class="form-group" style="display:none">
                <!--Botón de enviar-->
                <button id="#boton-enviar" type="submit" disabled=true  data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn-block"
                        style="background-color: #43ca17; width:70%; text-align:center; margin-left:15%; margin-bottom:0; color:white; ">
                    Solicitar
                </button>
                <!--Texto explicativo de porque no es valido el formulario-->
                <div style="text-align: center;">
                    <div style="display: inline-block;">
                        <p id="textTermina" style="font-size:xx-small; margin-top:-10px">Debe terminar la petición para poder enviarla</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Menu Pop-up de confirmación de envio -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">¿Seguro que desea enviar la encuesta?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="sendService();">Si</button>
            </div>
        </div>
    </div>
</div>